<header>
  <div class="container pt-3">
    <div class="header-logo">
      <a href="#"><img src="/assets/logo-tagit.svg" class="d-block logo-tagit mx-auto"></a>
      <h1 class="text-center mt-2 text-primary font-weight-bold">Tu voz digital</h1>
    </div>
  </div>
    <div class="header-rrss">
      <a href="#">
        <img src="assets/redes-instagram.svg">
      </a>
      <a href="#">
        <img src="assets/redes-facebook.svg">
      </a>
      <a href="#">
        <img src="assets/redes-whatsapp.svg">
      </a>
      <a href="#">
        <img src="assets/redes-twitter.svg">
      </a>
  </div>
</header>
