<header>
  <div class="container pt-5">
    <img src="/assets/logo-tagit.jpg" class="d-block logo-tagit mx-auto">
    <!-- <nav class="nav navbar-expand navbar-light">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="inicio">Ingresa tu demanda</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="demandas">Prioridades nacionales</a>
        </li>
      </ul>
    </nav> -->
    <ul class="nav justify-content-center navbar-tagit pt-4">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="inicio">Ingresa tu demanda</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="demandas">Prioridades nacionales</a>
      </li>
    </ul>
  </div>
</header>
