<header>
  <div class="container pt-3">
    <div class="header-logo d-flex justify-content-center">
      <a class="mx-auto" href="#"><img src="/assets/logo-tagit.svg" class="logo-tagit"></a>
      <h1 class="text-center mt-2 text-primary font-weight-bold">Tu voz digital</h1>
    </div>
    <div class="header-rrss">
      <a target="_blank" href="https://www.instagram.com/tagit_cl/">
        <img src="assets/redes-instagram.svg">
      </a>
      <a target="_blank" href="https://www.facebook.com/Tag-It-111846956937929">
        <img src="assets/redes-facebook.svg">
      </a>
      <a target="_blank" href="https://twitter.com/tagit_cl">
        <img src="assets/redes-twitter.svg">
      </a>
    </div>
  </div>
</header>
