body {
  min-height: 100vh;
}

header .navbar {
  height: 80px;
}

.loading {
  margin: 100px;
}

.navbar-tagit .nav-item.active > .nav-link {
  color: #fff;
  background-color: #0099ff;
  border-radius: .5rem;
}

.main {
  min-height: 45vh;
}

.logo-tagit {
  max-width: 300px;
}

.img-leader {
  max-width: 328px;
  max-height: 328px;
}

.img-modal {
  max-width: 85%;
}

#word-cloud {
  width: 100%;
  height: 300px;
}

@media (max-width: 767px){
  #word-cloud {
    width: 100%;
    height: 200px;
  }
}

.table-info-ministery th {
  border-top: 0;
}

.animated {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

#my_canvas {
  opacity: 0;
}

.rrss a {
  display: block;
  margin-bottom: 24px;
}

.rrss a:last-child {
  margin-bottom: 0;
}

.rrss a img {
  max-width: 48px;
}

.swal2-container.swal2-backdrop-show {
  background: rgba(0,0,0,.8)!important;
}
