<div class="container animated fadeIn pt-4">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="wordcloud-tab" data-toggle="tab" href="#wordcloud" role="tab" aria-controls="wordcloud" aria-selected="true">Wordclouds</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">Listas</a>
    </li>
  </ul>
  <select class="form-control form-control-sm mt-4" [(ngModel)]="selectedValue" id="ministery" (change)="getDemands()">
    <option value="">General</option>
    <option *ngFor="let ministery of ministeries" [value]="ministery.id">{{ ministery.name }}</option>
  </select>
  <section class="pt-4">
    <h3 class="text-center">Prioridades de los chilenos</h3>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane show active" id="wordcloud" role="tabpanel" aria-labelledby="wordcloud-tab">
        <div class="row mt-4 mb-4">
          <div class="col-12">
            <div class="word-cloud">
              <canvas id="my_canvas" class="canvas d-block mx-auto" width="700" height="250"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="list" role="tabpanel" aria-labelledby="list-tab">
        <table class="table table-hover mt-4">
          <thead>
            <tr>
              <th>Demanda</th>
              <th>Votos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let demand of demands">
              <td>{{ demand.name }}</td>
              <td>{{ demand.count }}</td>
            </tr>
            <tr>
            </tbody>
          </table>
        </div>
      </div>
  </section>
</div>
